.app-header {
  /* background-color: white !important; */
  /* padding: 0 6vw;
  width: 100vw; */
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 6vw;
}

.slogan {
  margin-right: 16px;
}

.main-header {
  display: flex;
  align-items: center;
  background-color: white !important;
  height: 60px;
  line-height: 60px;
  padding: 0 6vw !important;
}

.App-logo {
  height: 60px;
  width: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.name {
  white-space: nowrap;
  margin: 0 20px 0 0;
  padding: 0;
  color: aqua;
  font-size: 30px;
}

.menu_box {
  padding: 0 8vw;
  background-color: #1976D2;
  height: 45px;
}

.main-menu {
  color: #f5f5f5 !important;
  background-color: #1976D2 !important;
}